<div><a href='#about-us'>About Us</a></div>
<div class="narrow-page">

    <div class="main-column extra-pad">
        <div class="left-column">
            <a href="#network" class="no-hover">
                <div class="clout-small-box green-border" id="step5">
                    <h3 class="small-box-title">Your Network</h3>
                    <p class="small-box-text2" id="home-your-network"></p>
                </div>
            </a>

            <a href="#network" class="no-hover">
                <div class="clout-small-box blue-border no-margin" id="step6">
                    <h3 class="small-box-title">Pending Invites</h3>
                    <p class="small-box-text2" id="home-pending-invites"></p>
                </div>
            </a>

            <div class="clout-small-box teel-border" id="step7">
                <h3 class="small-box-title2">Clout Updates</h3>
                <p class="small-box-text">Welcome to the new Clout Beta! Get started on your networks and stay tuned for some exciting updates to come. </p>
                <h3 class="small-box-title2" id="home-date">07.05.13</h3>
            </div>

            <div class="clout-small-box purple-border no-margin" id="step8">
                <h3 class="small-box-title2">Tips</h3>
                <p class="small-box-text">Family first! Don’t forget to shoot them invites via email or copy and paste your custom URL on the family blog!</p>
                <h3 class="small-box-title2" id="home-date2">07.05.13</h3>
            </div>

        </div><!-- END left column -->

        

    </div>
</div>
